#addButton {
    color: #00897b;
    border-color: #00897b;
}

#addButton:hover {
    color: #ffffff;
    background-color: #00897b;
}

#addButton:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 137, 123, 0.2);
}