#categories {
    padding: 0 15%;
}

.btn-edit {
    color: #3f51b5;
}

.btn-edit:hover {
    background-color: #3f51b5;
    color: #ffffff;
}

.btn-delete {
    color: #f44336;
}

.btn-delete:hover {
    background-color: #f44336;
    color: #ffffff;
}
