#entry {
    padding: 0 15%;
}

#photos {
    width: 50%;
}

.fa-angle {
    color: #006064;
}

.carousel-item {
    width: 400px;
    height: 400px;
}

.carousel-item img {
    max-height: 100%;
    max-width: 100%;
    padding: 1rem;
}

.fa-arrow-left {
    color: black;
}

.fa-arrow-left:hover {
    color: rgba(0, 0, 0, 0.81);
}

#map {
    width: 30vw;
    height: 450px;
}