#submitButton {
    background-color: #00897b;
    border-color: #00897b;
}

#submitButton:hover {
    background-color: #00695c;
    border-color: #00695c;
}

#submitButton:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 137, 123, 0.2);
}