#reported {
    padding: 0 15%;
}

.btn-print {
    color: #263238;
}

.btn-print:hover {
    background-color: #263238;
    color: #ffffff;
}

.btn-message {
    color: #03a9f4;
}

.btn-message:hover {
    background-color: #03a9f4;
    color: #ffffff;
}
