{% extends 'base.html' %}

{% block style %}
{% load static %}

{% endblock style %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2">

        </div>
        <div class="col-xl-10 col-lg-10 col-md-10">
            <table class="table table-bordered table-striped table-hover table-responsive-xl">
                <thead>
                <tr>
                    <th scope="col">Ime</th>
                    <th scope="col">Prezime</th>
                    <th scope="col">Email</th>
                    <th scope="col">Broj telefona</th>
                    <th scope="col">Kategorije</th>
                    <th scope="col">Aktivan</th>
                    <!--mora moci vidjeti samo glavni admin-->
                    <th scope="col">Obriši</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Marko</td>
                    <td>Marković</td>
                    <td>mmarkovic@gmail.com</td>
                    <td>0911234567</td>
                    <td>Ceste, Rupe</td>
                    <td>da</td>
                    <td><button class="btn btn-sm" title="Obriši">
                        <span class="far fa-trash-alt fa-2x"></span></button></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock main %}