{% extends 'base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'administration/css/categories.css' %}">
{% endblock style %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2">

        </div>
        <div>
            <table class="table table-bordered table-striped table-hover table-responsive-xl">
                <thead>
                <col width="200">
                <tr>
                    <th scope="col">Naziv</th>
                    <th scope="col">Uredi</th>
                    <th scope="col">Obriši</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Ceste</td>
                    <td><button class="btn btn-sm" title="Uredi">
                        <span class="far fa-edit fa-2x"></span></button></td>
                    <td><button class="btn btn-sm" title="Obriši">
                        <span class="far fa-trash-alt fa-2x"></span></button></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock main %}