{% extends 'base.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'administration/css/login.css' %}">
{% endblock style %}

{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-7 col-md-8 col-sm-10 col-10">
            <form role="form" id="loginForm" action="{% url 'administration:login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ login_form.email.errors }}
                    <label for="{{ login_form.email.loginEmail }}">E-mail</label>
                    {{ login_form.email }}
                </div>
                <div class="form-group">
                    {{ login_form.password.errors }}
                    <label for="{{ login_form.password.loginPassword }}">Lozinka</label>
                    {{ login_form.password }}
                </div>
                <div class="form-group">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6 col-6">
                                <input type="submit" class="form-control btn btn-success submit-btn" value="Prijavi se">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main %}
