{% extends 'base.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'administration/css/login.css' %}">
{% endblock style %}

{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-7 col-md-8 col-sm-10 col-10">
            <form role="form" id="registerForm" action="{% url 'administration:register' %}" method="POST">
                {% csrf_token %}
                {{ register_form.non_field_errors }}
                <div class="form-group">
                    {{ register_form.first_name.errors }}
                    <label for="{{ register_form.first_name.idFirstName }}">Ime</label>
                    {{ register_form.first_name }}
                </div>
                <div class="form-group">
                    {{ register_form.last_name.errors }}
                    <label for="{{ register_form.last_name.idLastName }}">Prezime</label>
                    {{ register_form.last_name }}
                </div>
                <div class="form-group">
                    {{ register_form.email.errors }}
                    <label for="{{ register_form.email.idEmail }}">E-mail</label>
                    {{ register_form.email }}
                </div>
                <div class="form-group">
                    {{ register_form.password1.errors }}
                    <label for="{{ register_form.password1.idLozinka }}">Lozinka</label>
                    {{ register_form.password1 }}
                </div>
                <div class="form-group">
                    {{ register_form.password2.errors }}
                    {{ register_form.password2 }}
                </div>
                <div class="form-group">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6 col-6">
                                <input type="submit" class="form-control btn btn-success submit-btn"
                                       value="Registriraj se">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main %}
