{% extends 'base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'administration/css/reported.css' %}">
{% endblock style %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2">

        </div>
        <div class="col-xl-10 col-lg-10 col-md-10">
            <table class="table table-bordered table-striped table-hover table-responsive-xl">
                <thead>
                    <tr>
                        <th scope="col">Kategorija</th>
                        <th scope="col">Opis</th>
                        <th scope="col">Adresa</th>
                        <th scope="col">Status</th>
                        <th scope="col">Glasovi</th>
                        <th scope="col">Zaprimljeno</th>
                        <th scope="col">Riješeno</th>
                        <th scope="col">Ispis</th>
                        <th scope="col">Proslijedi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Kategorija1</td>
                        <td onclick="location.href='http://www.youtube.com'" style="cursor:pointer">
                            Ovo je testni opis nekog prijavljenog problema</td>
                        <td onclick="location.href='http://www.youtube.com'" style="cursor:pointer">Marka Markića 10
                        </td>
                        <td>Zaprimljeno</td>
                        <td onclick="location.href='http://www.youtube.com'" style="cursor:pointer">3</td>
                        <td onclick="location.href='http://www.youtube.com'" style="cursor:pointer">19.2.2018.</td>
                        <td onclick="location.href='http://www.youtube.com'" style="cursor:pointer">31.2.2018.</td>

                        <td><button class="btn btn-sm" title="Ispiši">
                            <span class="fas fa-print fa-2x"></span></button></td>
                        <td><button class="btn btn-sm" title="Proslijedi">
                            <span class="far fa-envelope fa-2x"></span></button></td>

                        <!--<td><a class="btn btn-sm" href="#" title="Ispiši">-->
                            <!--<span class="fas fa-print fa-2x"></span></a></td>-->
                        <!--<td><a class="btn btn-sm" href="#" title="Proslijedi e-mailom">-->
                            <!--<span class="far fa-envelope fa-2x"></span></a></td>-->

                        <!--<td onclick="location.href='http://www.youtube.com'" style="cursor:pointer">-->
                        <!--<i class="fas fa-print"></i></td>-->
                        <!--<td onclick="location.href='http://www.youtube.com'" style="cursor:pointer">-->
                        <!--<i class="far fa-envelope"></i></td>-->

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock main %}