.body {
    margin: 0;
}

.header {
    padding: 0;
    margin-bottom: 2rem;
}

.navbar {
    background-color: #006064;
    padding: 0;
}

.navbar-brand {
    text-decoration: none;
    color: #ffffff;
    padding-left: 0.5rem;
}

.navbar-brand:hover {
    text-decoration: none;
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #006064;
    background-color: #ffffff;
}