<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>eKomunalko</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'administration/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'administration/css/master.css' %}">
    {% block style %}
    {% endblock style %}
</head>

<body>
<div class="container-fluid header">
    <nav class="navbar navbar-expand">
        <a class="navbar-brand" href="{% url 'administration:reported' %}">eKomunalko</a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'administration:reported' %}">Prijavljeno</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'administration:admins' %}">Administratori</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'administration:categories' %}">Kategorije</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'administration:messages' %}">Poruke</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'administration:settings' %}">Postavke</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Odjavi se</a>
            </li>
        </ul>
    </nav>

    <!--<nav class="navbar navbar-expand">-->
        <!--<ul class="navbar-nav mr-auto">-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Administratori</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Kategorije</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Postavke</a>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<a class="navbar-brand mr-auto" href="">eKomunalko</a>-->
        <!--<ul class="navbar-nav ml-auto">-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Odjavi se</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</nav>-->

    <!--<nav class="navbar navbar-expand">-->
        <!--<div class="navbar-nav">-->
            <!--<a class="nav-item nav-link" href="#">Administratori</a>-->
            <!--<a class="nav-item nav-link" href="#">Kategorije</a>-->
            <!--<a class="nav-item nav-link" href="#">Postavke</a>-->
        <!--</div>-->
    <!--</nav>-->
</div>

<!--<div class="container-fluid main">-->
    {% block main %}
    {% endblock main %}
<!--</div>-->

<script src="{% static 'administration/js/plugins/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'administration/js/plugins/popper.min.js' %}"></script>
<script src="{% static 'administration/js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'administration/js/plugins/fontawesome-all.js' %}"></script>

</body>
</html>